name: CI - Unit Tests

on:
  push:
    branches:
      - '**'

    paths-ignore:
      - README.md
      - .github/CODEOWNERS
      - .github/dependabot.yml
      - .github/workflows/ci.yml
      - .github/workflows/release.yml

  pull_request:
    branches:
      - main


jobs:
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: mbstring, intl, pcntl, pdo, pdo_mysql
          coverage: none

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest --no-interaction

      - name: Run PHPUnit tests
        run: vendor/bin/phpunit --configuration phpunit.xml --testdox --testsuite "Unit Tests"
