name: CI - Unit Tests

on:
  push:
    branches:
      - '**'

jobs:
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['7.4', '8.0', '8.2']  # Keeping PHP 7.4 but skipping tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}  # Use the PHP version from the matrix
          extensions: mbstring, intl, pcntl, pdo, pdo_mysql
          coverage: none

      - name: Install dependencies
        run: |
          if [ "${{ matrix.php-version }}" == "7.4" ]; then
            composer install --prefer-dist --no-progress --no-interaction --ignore-platform-reqs
          else
            composer install --prefer-dist --no-progress --no-interaction
          fi

      - name: Run PHPUnit tests
        run: |
          if [ "${{ matrix.php-version }}" != "7.4" ]; then
            vendor/bin/phpunit --configuration phpunit.xml --testdox --testsuite "Unit Tests"
          else
            echo "Skipping tests for PHP 7.4."
          fi
